#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  height:65px ;
  width: 550px;
  display: flex;
  justify-content: center;
  background-color: blueviolet;

}

.logo {
  height: 4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.img-container {
  position: relative;
  width: 400px;
  margin-top: 20px;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.img-container .top,
.img-container .bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  width: 90%;
  padding: 5px;
}

.img-container .top {
  top: 10px;
}

.img-container .bottom {
  bottom: 10px;
}



